.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
    }
    &:focus{
    }
    &-primary {
        border: 1px solid $color4;
        background: $white;
        &:hover {
            background: $color4;
            color: $white;
        }
    }
    &-secondary{
        background: $background;
        &:hover{
        }
    }
    &-contour{
        font-size: 14px;
        line-height: 21px;
        color: $color4;
        background: $background;
        padding: 13.5px 76px;
        &:hover{
            background: #F4DDD8;
        }
    }
    &-filter{
        &:hover{
        }
    }
    &__form {
        background: $color2;
        padding: 12px 27px;
        line-height: 23.5px;
        font-weight: 500;
        color: $white;
        border: none;
    }
    &-swiper {
        width: 62px;
        height: 62px;
        border-radius: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        cursor: pointer;
        background: transparent;
        border: 1px solid $border;
        &:hover {
           border: 1px solid $color4;
        }
    }
}



