.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover{
    }
    &:focus{
    }
    &-primary {
        border: 1px solid #1b1b1b;
        background: $white;
        &:hover {
            background: $color3;
            color: $white;
        }
    }
    &-secondary{
        background: $background;
        &:hover{
        }
    }
    &-contour{
        font-size: 14px;
        line-height: 21px;
        color: $color4;
        background: $background;
        padding: 13.5px 76px;
        &:hover{
            background: #F4DDD8;
        }
    }
    &-filter{
        &:hover{
        }
    }
    &__form {
        background: $color2;
        padding: 12px 27px;
        line-height: 23.5px;
        font-weight: 500;
        color: $white;
        border: none;
    }
    &__move{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid $color2;
        background: transparent;
    }
}



