.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover{
    }
    &:focus{
    }
    &-primary {
        border: 1px solid #1b1b1b;
        background: $white;
        &:hover {
            
        }
    }
    &-secondary{
        &:hover{
            
        }
    }
    &-contour{
        &:hover{
            
        }
    }
    &-filter{
        &:hover{
        }
    }
    &__form {
        background: $color2;
        padding: 12px 26px;
        line-height: 23.5px;
        font-weight: 500;
        color: $white;
        border: none;
    }
}



