.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
    }
    &:focus{
    }
    &-primary {
        border: 1px solid #1b1b1b;
        &:hover {
            
        }
    }
    &-secondary{
        &:hover{
            
        }
    }
    &-contour{
        &:hover{
            
        }
    }
    &-filter{
        &:hover{
        }
    }
}