$color1: #FEEBE7;
$color2: #E48181;
$color3: #FCF8F7;
$color4: #1B1B1B;
$border: #ECECEC;
$border2: #F1F1F1;
$gray: #868686;
$white: #ffffff;
$black: #000000;
$black2: #020202;
$textColor2: #D93D4F;
$background: #FEEBE7;
.h1{
   font-size: 64px;
   line-height: 86px;
}
.h2{
   font-size: 36px;
   line-height: 48px;
}
.h3{
   font-size: 24px;
   line-height: 32px;
}
.h4{
   font-size: 16px;
   line-height: 21px;
}
.h5{
   font-size: 14px;
   line-height: 19px;
}
