@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Thin.eot');
    src: url('../fonts/Heebo-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Heebo-Thin.woff2') format('woff2'),
        url('../fonts/Heebo-Thin.woff') format('woff'),
        url('../fonts/Heebo-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Light.eot');
    src: url('../fonts/Heebo-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Heebo-Light.woff2') format('woff2'),
        url('../fonts/Heebo-Light.woff') format('woff'),
        url('../fonts/Heebo-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Regular.eot');
    src: url('../fonts/Heebo-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Heebo-Regular.woff2') format('woff2'),
        url('../fonts/Heebo-Regular.woff') format('woff'),
        url('../fonts/Heebo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Medium.eot');
    src: url('../fonts/Heebo-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Heebo-Medium.woff2') format('woff2'),
        url('../fonts/Heebo-Medium.woff') format('woff'),
        url('../fonts/Heebo-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


