html,
body {
	direction: rtl;
	height: 100%;
	font-family: "Heebo";
	font-weight: normal;
	font-style: normal;
	overflow-x: hidden;
}
* {
	text-align: right;
}
textarea {
	resize: none;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
	position: relative;
}
.footer {
	flex: 0 0 auto;
}
input,
textarea {
	appearance: none;
	outline: none;
}

.container {
	max-width: 1460px;
	padding: 0 15px;
	margin: 0 auto;
}

.breadcrumbs {
}

.d-flex {
	display: flex !important;
}
.d-none {
	display: none;
}

//Ввод данных конец
.burger {
}
.counter {
	position: absolute;
	z-index: 1;
	width: 24px;
	height: 24px;
	background: $white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	line-height: 19px;
	color: $black;
}
.content {
	&__body {
		.container {
			display: flex;
			justify-content: space-between;
		}
	}
}
.select {
	position: relative;
	&.open {
		.select__header {
			.icon {
				transform: rotate(180deg);
			}
		}
	}
	&__header {
		cursor: pointer;
		display: flex;
		align-items: center;
	}
	&__body {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		z-index: 10;
		background: $white;
	}
	&__input {
		display: none;
	}
}
.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	width: 100%;
	height: 100vh;
	display: none;
	&__body {
		width: 100%;
		height: 100%;
		background: rgba($black, 0.3);
	}
	&__content {
		background: $white;
		position: relative;
	}
	&-close {
		cursor: pointer;
		position: absolute;
		right: 32px;
		top: 29px;
		font-size: 18px;
		color: $gray;
	}
	&-search__block {
		display: flex;
		flex-wrap: wrap;
		&.open {
			.popup-search__descr {
				display: block;
			}
			.popup-search__header {
				padding-bottom: 0;
			}
		}
	}
	&-search__header {
		// height: 205px;
		padding: 83px 0 63px;
		width: 100%;
	}
	&-search__bar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding-bottom: 37px;
		position: relative;
		font-size: 16px;
		line-height: 22px;
		color: $color4;
		&::placeholder {
			font-size: 16px;
			line-height: 22px;
			color: $color4;
		}
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 1px;
			background: #bbbbbb;
		}
		.icon-search {
			color: $black;
			font-size: 20px;
			cursor: pointer;
		}
	}
	&-search__input {
		border: 0;
		flex: 1 0 auto;
	}
	&-search__descr {
		display: none;
		font-weight: 300;
		color: $gray;
		margin: 32px 0 45px;
	}
	&-search__body {
		display: none;
		width: 100%;
		height: 100vh;
	}
	&-search__more {
		margin: 0 auto;
		padding: 13px 35px 14px;
		margin-top: 78px;
		font-size: 14px;
		line-height: 20px;
	}
}

// bread crumbs
.breadCrumbs {
	font-weight: 300;
	padding-top: 32px;
	font-size: 12px;
	line-height: 18px;
	.container {
		display: flex;
		align-items: center;
	}
	&__link {
		display: flex;
		align-items: center;
		margin-left: 9px;
		color: $gray;
		&:hover {
			.breadCrumbs__text {
				text-decoration: underline;
			}
		}
	}
	&__text {
		display: block;
		margin-left: 9px;
	}
}
//bread crumbs end

// page pagination
.pagin__cart {
	width: 64px;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid $border;
	font-size: 14px;
	line-height: 21px;
	color: #15161a;
	box-sizing: border-box;
	cursor: pointer;
	&.active {
		border: 1px solid #e48181;
	}
}
//page pagination end
//check-box
.checkbox {
	display: block;
	position: relative;
	padding-right: 25px;
	cursor: pointer;
	&-input {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0 0 0 0);
		&:checked + .checkbox-style {
			.icon {
				display: block;
			}
		}
	}
	&-style {
		position: absolute;
		border: 1px solid $color4;
		margin-right: -25px;
		top: 50%;
		transform: translate(0, -50%);
		width: 18px;
		height: 18px;
		.icon {
			display: none;
			font-size: 11px;
			margin-top: 3px;
		}
	}
	&.default {
		height: 100%;
	}
}
//check-box end
// radiobox start
.radio {
	display: block;
	position: relative;
	padding-right: 25px;
	cursor: pointer;
	&-input {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0 0 0 0);
	}
	&-style {
		position: absolute;
		border: 1px solid transparent;
		margin-right: -25px;
		top: 50%;
		transform: translate(0, -50%);
	}
	&.default {
		.radio-style {
			border-color: $color4;
			border-radius: 50%;
			width: 18px;
			height: 18px;
		}
		.radio-input:checked + .radio-style::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 6px;
			height: 6px;
			background: $color2;
			border-radius: 50%;
		}
	}
}
//radiobox end
//dropdown start
.toggle-block {
	.icon {
		&.open {
			transform: rotate(180deg);
		}
	}
	&.open {
		.toggle-body {
			display: block;
		}
	}
}
//dropdown end
.breadcrumbs {
	display: none;
	margin-top: 10px;
	.container {
		display: flex;
		align-items: center;
	}
	&__link {
		display: block;
		font-size: 10px;
		line-height: 15px;
		&:not(:first-child) {
			margin-right: 9px;
			.icon-triangle-left {
				display: none;
			}
		}
		&:not(:last-child) {
			color: $gray;
		}
	}
	.icon-triangle-left {
		font-size: 6px;
		margin-right: 9px;
	}
}


.catalog,
.prodact,
.contact-us,
.brands {
   .breadcrumbs {
      	display: block;
      	margin-top: 32px;
      	.icon-triangle-left {
		font-size: 7.74px;
      }
	  &__link {
		font-size: 12px;
		&:not(:first-child) {
		   margin-right: 14.74px;
		}

	  }
   }
}
// accordion start
.accordion {
	margin-right: 7px;
	padding: 32px 0;
	border-top: 1px solid $border;
	border-bottom: 1px solid $border;
	font-weight: 300;
	&:first-child {
		border-top: transparent;
	}
	&.open {
		.accordion__icon::after {
			transform: rotate(270deg);
		}
		.accordion__icon::before {
			transform: rotate(180deg);
		}
	}
	&__head {
		display: flex;
		cursor: pointer;
		padding: 32px 0;
		margin: -32px 0;
	}

	&__title {
		line-height: 134.88%;
	}

	&__icon {
		position: relative;
		width: 14px;
		height: 14px;
		margin-left: 39px;
		margin-right: -7px;
		transform: translate(0, 8px);
		&::before,
		&::after {
			content: "";
			position: absolute;
			background: $color4;
			transition: all 0.4s ease 0s;
		}
		&::before {
			top: 6.3px;
			left: 1px;
			width: 12px;
			height: 1.4px;
		}
		&::after {
			// transform: rotate(-90deg);
			left: 6.3px;
			top: 1px;
			width: 1.4px;
			height: 12px;
		}
	}

	&__body {
		display: none;
		margin-top: 25px;
		padding-right: 46px;
		line-height: 1.5;
	}

	&__text {
		max-width: 666px;
	}
}

// accordion end

// tabs start
.tabs {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #ececec;
	&__item {
		box-sizing: content-box;
		padding: 0 12px 23px;
		border: 1px solid transparent;
		cursor: pointer;
		&:not(:last-child) {
			margin-left: 49px;
		}
		&.active {
			border-bottom: 1px solid $textColor2;
		}
	}
}
// tabs end
