html,
body {
	direction: rtl;
  	height: 100%;
  	font-family: 'Heebo';
   	font-weight: normal;
   	font-style: normal;
  	overflow-x: hidden;
}
*{
	text-align: right;
}
textarea{
	resize: none;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
	position: relative;
}
.footer {
	flex: 0 0 auto;
}
input,
textarea { 
	appearance: none;
	outline:none 
}


.container{
  max-width: 1460px;
  padding: 0 15px;
  margin: 0 auto;
}

.breadcrumbs {

}

.d-flex{
	display: flex !important;
}

//Ввод данных конец 
.burger{

}
.counter{
	position: absolute;
	z-index: 1;
	width: 24px;
	height: 24px;
	background: $white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	line-height: 19px;
	color: $black;
}
.select{
	position: relative;
	&.open{
		.select__header{
			.icon{
				transform: rotate(180deg);
			}
		}
	}
	&__header{
		cursor: pointer;
		display: flex;
		align-items: center;
	}
	&__body{
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		z-index: 1;
		background: $white;
	}
	&__input{
		display: none;
	}
}