.header{
   background: $color1;
   &__head{
      text-align: center;
      background: $white;
   }
   &__body{
      display: flex;
      justify-content: space-between;
      height: 105px;
      align-items: center;
      position: relative;
   }
   &__body::after{
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $white;
   }
   .nav__item{
      &.select{
         padding: 20px 0;
         &.open{
            .select__header::after{
               width: 100%;
            }
         }
      }
      .select__header{
         padding-bottom: 5px;
         position: relative;
         transition: 1s;
         &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 0;
            height: 1px;
            background: $color4;
         }
         &:hover{
            &::after{
               width: 100%;
            }
         }
      }
      &-img{
         width: 272px;
         height: 100%;
         img{
            height: 100%;
            width: 100%;
         }
      }
      &-content{
         width: max-content;
         display: flex;
         background: $white;
      }
      &-body{
         // display: flex;
         // flex-direction: column;
         // flex-wrap: wrap;
         // max-height: 250px;
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-column-gap: 34px;
         grid-row-gap: 10px;
         margin: 40px 40px 40px 47px;
      }
      .select__item{
         display: flex;
         align-items: center;
         // margin-left: 40px;
         // margin-bottom: 18px;
         width: 142px;
         .icon{
            font-size: 12px;
            margin-left: 12px;
            color: $color4;
         }
      }
      &:nth-child(1n + 9){
         .select__body{
            left: 0;
            right: unset;
         }
      }
   }
   .icon-burger{
      display: none;
   }
   .icon-cart{
      position: relative;
      .counter{
         bottom: 100%;
         left: 50%;
      }
   }
   .icon{
      font-size: 22px;
   }
   .select__header{
		.icon{
			font-size: 12px;
         margin-left: 6px;
		}
   }
   &__logo {
      margin: 0 auto;
   }
   .icon-user {
      margin-left: 27px;
      margin-right: 37px;
   }
   &__phone-num {
      &:not(:first-child) {
         margin-right: 14px;
      }
   }
   &__link {
      margin-right: 24px;
   }
   .icon-heart {
      margin-right: 29px;
      margin-left: 79px;
   }
   .icon-search{
      cursor: pointer;
   }
}
.nav{
   display: flex;
   justify-content: space-between;
}

.banner {
   background: url('../images/banner_background.png') no-repeat;
   display: flex;
   justify-content: space-around;
   &__link {
      background: $white;
      width: 65px;
      height: 65px;
      border-radius: 90px;
      box-shadow: 0px 4px 12px 0px #00000014;
      display: flex;
      justify-content: center;
      align-items:center;
      &:not(:last-child) {
         margin-bottom: 16px;
      }
   }
   .icon-facebook,
   .icon-instagram {
      color: $color2;
      font-size: 14px;
   }
   &__content{
      text-align: center;
   }
   &__social{
      position: fixed;
      left: 66px;
      top: 540px;
      z-index: 2;
   }
   &__title{
      margin-top: 66px;
      font-size: 52px;
      line-height: 70px;
      font-weight: 300;
      text-align: center;
   }
   &__sale{
      font-size: 87px;
      line-height: 128px;
      color: $textColor2;
      font-weight: 300;
      text-align: center;
   }
   &__price{
      font-size: 24px;
      line-height: 35px;
      font-weight: 300;
      text-align: center;
      margin-bottom: 33px;
   }
   &__price-delet{
      font-size: 40px;
      line-height: 59px;
      margin-left: 18px;
   }
   &__price-sale {
      text-decoration-line: line-through;
   }
   .btn-primary{
      width: 269px;
      height: 69px;
      margin: 0 auto;
      background: transparent;
   }
}

.section-title {
   text-align: center;
   font-weight: 300;
   color: $color4;
   margin-bottom: 44px;
}

.offers {
   padding: 77px 0px 90px;
   &__content {
      display: flex;
   }
   &__column {
      &:not(:first-child) {
         margin: 0px 20px;
      }
   }
   &__big,
   &__little {
      background: $color3;
      margin: 20px 0px;
      padding: 40px;
      display: flex;
      position: relative;
   }
   &__big {
      width: 706px;
      height: 455px;
   }
   &__little {
      width: 706px;
      height: 277px;
   }
   &__description {
      margin-bottom: 0px;
      margin-top: auto;
   }
   &__description-title {
      font-size: 32px;
      font-weight: 300;
      color: $color4;
   }
   &___description-description {
      color: $color4;
   }
   &__four {
      .offers__img {
         position: absolute;
         left: 45px;
      }
   }
   &__third {
      .offers__img {
         position: absolute;
         left: 117px;
      }
   }
   &__first {
      .offers__img {
         position: absolute;
         left: 133px;
         top: 0;
      }
   }
   &__second {
      .offers__img {
         position: absolute;
         left: 0;
         bottom: 0;
      }
   }
}

.advice {
   padding-bottom: 90px;
   .swiper-container {
      display: flex;
      align-items:center;
      width: 1070px;
      margin-right: 0;
      margin-left: auto;
   }
   .swiper-wrapper {
      display: flex;
   }
   .swiper-slide {
      width: 344px;
      &:not(:last-child) {
         margin-left: 19px;
      }
   }
   &__card {
      width: 344px;
      text-align: center;
      &:hover{
         .advice__nav{
            display: block;
         }
      }
   }
   &__item {
      border: 1px solid $border2;
      // padding: 22px 40px 90px 17px;
      display: grid;
      position: relative;
      margin-bottom: 20px;
      height: 400px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   &__prev {
      text-transform: uppercase;
      background: $black2;
      padding: 2px 9px;
      color: $white;
      // margin-left: 0px;
      // margin-right: auto;
      // margin-bottom: 40px;
      position: absolute;
      top: 22px;
      left: 17px;
      z-index: 1;
   }
   &__nav{ 
      display: none;
      position: absolute;
      bottom: 31px;
      left: 20px;
   }
   &__nav-slider{
      padding: 49px 60px 47px 0;
      position: relative;
   }
   &__nav-bg{
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      height: 100%;
      width: max-content;
      img{
         height: 100%;
      }
   }
   
   &__press {
      width: 62px;
      height: 62px;
      background: $white;
      box-shadow: 0px 4px 23px 0px #0000000F;
      border-radius: 90px;
      display: flex;
      align-items:center;
      justify-content: center;
      &:not(:last-child) {
         margin-bottom: 12px;
      }
      .icon {
         font-size: 17px;
      }
   }
   &__title {
      margin-bottom: 9px;
      text-align: center;
   }
   &__nav-title {
      max-width: 263px;
      text-align: center;
      line-height: 53px;
      margin-bottom: 34px;
      font-weight: 300;
   }
   &__button {
      display: flex;
      justify-content: center;
   }
   .swiper-button-next,
   .swiper-button-prev {
      cursor: pointer;
      background: transparent;
      width: 62px;
      height: 62px;
      border-radius: 90px;
      border: 1px solid $border;
      display: flex;
      justify-content: center;
      align-items:center;
      &:not(:last-child) {
         margin-right: 13px;
      }
   }
   &__bdo {
      display: flex;
   }
   &__content{
      display: flex;
   }
   &__price{
      text-align: center;
   }
   &__price-sale {
      font-weight: 300;
      color: $gray;
      text-decoration-line: line-through;
   }
}

.recommendation-bg,
.recommendation-bg-second,
.discount-banner-bg,
.articles-bg-right,
.photogallery-bg-right,
.photogallery-bg-center,
.photogallery-bg-left {
   z-index: -1;
}

.recommendation {
   padding-bottom: 94px;
   position: relative;
   &__gods {
      display: flex;
      .advice__card {
         &:not(:last-child) {
            margin-left: 20px;
         }
      }
   }
   .swiper-container {
      width: 1068px;
   }
   &-bg {
      position: absolute;
      top: -240px;
   }
   &-bg-second {
      position: absolute;
      left: 0;
      top: -420px;
   }
}
.discount{
   padding-bottom: 90px;
   position: relative;
   &__inside{
      display: flex;
   }
   &__banner{
      background-image: url('../images/discount-banner.png');
      background-repeat: no-repeat;
      width: 704px;
      height: 733px;
      padding: 82px 68px 0 0 ;
   }
   &__banner-sale{
      font-size: 95px;
      line-height: 139px;
      color: $textColor2;
      font-weight: 100;
   }
   &__banner-title{
      font-size: 48px;
      line-height: 65px;
      font-weight: 300;
   }
   &__banner-subtitle{
      font-size: 18px;
      line-height: 26px;
      font-weight: 300;
   }
   &__content{
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: max-content;
      margin-left: 0;
      margin-right: auto;
      grid-row-gap: 20px;
      grid-column-gap: 20px;
      .advice__item{
         padding: 0;
         display: flex;
         align-items: center;
         justify-content: center;
         width: 343px;
         height: 297px;
         margin-bottom: 12px;
      }
   }
   &__banner-bg {
      position: absolute;
      top: 0;
   }
}

.blog{
   background-image: url('../images/blog-bg.png');
   background-repeat: no-repeat;
   padding: 97px 0 ;
   .h2{
      text-align: center;
      margin-bottom: 41px;
   }
   &__body{
      display: flex;
      justify-content: space-between;
      margin-bottom: 49px;
   }
   &__cart{
      background: $white;
      width: calc(100% / 3 - 40px / 3);
   }
   &__cart-img{
      width: 100%;
      img{
         width: 100%;
      }
   }
   &__cart-footer{
      display: flex;
      width: 100%;
      height: 93px;
      align-items: center;
      padding-right: 35px;
   }
   &__cart-discr{
      flex: 1 0 auto;
   }
   &__cart-title{
      font-weight: 300;
      color: #15161a;
      margin-bottom: 5px;
      font-size: 18px;
   }
   &__cart-subtitle{
      font-weight: 300;
      color: $gray;
      font-size: 12px;
   }
   &__cart-btn{
      width: 96px;
      border-right: 1px solid #E5E5E5;
      height: 100%;
      .icon {
         font-size: 12px;
      }
   }
   &__more-btn{
      margin: 0 auto;
      padding: 13px 35px 14px;
      background: transparent;
   }
}

.articles{
   position: relative;
   padding: 90px 0;
   .advice__nav-title {
      max-width: 341px;
   }
   .blog__cart{
      width: 100%;
   }
   .blog__cart-footer{
      border: 1px solid #ececec;
      border-top: 0;
      width: unset;
      padding-right: 29px;
   }
   .swiper-container--second{
      width: 1071px;
      overflow: hidden;
   }
   .icon{
      margin-left: 4px;
   }
   .swiper-button-next--second,
   .swiper-button-prev--second {
      cursor: pointer;
      background: transparent;
      width: 62px;
      height: 62px;
      border-radius: 90px;
      border: 1px solid $border;
      display: flex;
      justify-content: center;
      align-items:center;
      &:not(:last-child) {
         margin-right: 13px;
      }
   }
   &-bg-right {
      position: absolute;
      right: 0;
      top: 120px;
   }
   .advice__nav-bg {
      left: 0;
      right: unset;
   }
}


.photogallery{
   position: relative;
   padding-bottom: 86px;
   .h2{
       margin-bottom: 40px;
       font-weight: 300;
       text-align: center;
   }
   &__list{
       display: flex;
       justify-content: space-between;
       width: 100%;
   }
   &__img{
       width: 222px;
       height: 187px;
       img{
           width: 100%;
           height: 100%;
       }
   }
   &-bg-right,
   &-bg-center,
   &-bg-left {
      position: absolute;
   }
   &-bg-right {
      right: 0;
      top: -90px;
   }
   &-bg-center {
      right: 0;
      left: 0;
      top: -90px;
      img {
         margin: 0 auto;
      }
   }
   &-bg-left {
      left: 0;
      top: -90px;
   }
}

.footer {
   background: $background;
   padding: 69px 0px 44px;
   &__content {
      display: flex;
      padding-bottom: 67px;
   }
   &__down {
      padding-top: 47px;
      border-top: 1px solid rgba($color4, 0.1);
      text-align: center;
      color: rgba($color4, 0.3)
   }
   &__social {
      display: flex;
   }
   &__social-link {
      width: 48.5px;
      height: 48.5px;
      display: flex;
      justify-content: center;
      align-items:center;
      background: $white;
      border-radius: 90px;
      &:not(:first-child) {
         margin-right: 9.5px;
      }
      .icon {
         color: $color2;
         font-size: 13px;
      }
   }
   &__column-first {
      display: flex;
      flex-direction: column;
      width: 290px;
      .footer__social {
         flex: 0 0 auto;
      }
      .logo {
         flex: 1 0 auto;
      }
   }
   &__column-second {
      width: 198px;
   }
   &__column-third {
      width: 219px;
      .footer__link {
         &:last-child {
            margin-bottom: 34px;
         }
      }
   }
   &__column-four {
      width: 373px;
      .footer__link {
         &:last-child {
            margin-bottom: 41px;
         }
      }
   }
   &__column-fifth {
      width: 343px;
   }
   &__time {
      margin-bottom: 4px;
      color: $color4;
   }
   &__phone {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 4px;
      color: $color4;
   }
   &__discr {
      color: $gray;
      margin-bottom: 9px;
      font-weight: 300; 
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 235px;
   }
   &__mail {
      color: $color2;
   }
   &__link {
      color: $color4;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 190px;
      &:not(:last-child) {
         margin-bottom: 13px;
      }
   }
   &__form-title {
      font-size: 20px;
      color: $color4;
      margin-bottom: 9px;
   }
   &__form-description {
      color: $gray;
      margin-bottom: 27px;
   }
   &__forms {
      display: flex;
      margin-bottom: 41px;
   }
   &__input {
      border: none;
      padding-right: 23px;
   }
   &__more {
      color: $color4;
   }
   &__more-item {
      display: inline-block;
      color: $color4;
      &:not(:first-child) {
         margin-right: 39px;
      }
      span {
         margin-left: 11px;
         font-size: 18px;
      }
   }
}

.catalog{
   &__header{
      margin-bottom: 27px;
      display: flex;
      justify-content: space-between;
   }
   &__conclusion-text{
      color: $gray;
   }
   &__header-select{
      display: flex;
      align-items: center;
   }
   &__header-select-discr{
      color: $gray;
      margin-left: 11px;
   }
   &__header-select__text{
      margin-left: 8px;
   }
   .title{
      line-height: 49px;
      text-align: center;
      font-weight: 300;
      color: $color4;
      margin: 15px 0 65px;
   }
   &__list{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap:60px 20px;
      margin-bottom: 125px;
   }
   &__item{
      &.catalog__item--video{
         grid-area: 3 / 3 / 3 / 5;
      }
      &.catalog__item--img{
         grid-area: 5 / 1 / 5 / 3;
      }
   }
   .content__block{
      width: 1072px;
   }
   .advice__card{
      width: 100%;
   }
   .advice__item{
      height: 293px;
   }

   &__pagination{
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-bottom: 125px;
      direction: ltr;
   }
   &__pagination-slider{
      width: 220px;
      overflow: hidden;
   }
   &__swiper-button-next,
   &__swiper-button-prev{
      position: absolute;
      top: calc(50% - 10px);
      z-index: 1;
      cursor: pointer;
      .icon{
         color: $gray;
      }
      border: none;
      &:focus{
         outline: unset;
      }
   }
   &__swiper-button-next{
      right: 331px;
   }
   &__swiper-button-prev{
      left: 331px;
   }
}
.filter{
   font-weight: 300;
   width: 250px;
   h3{
      font-weight: 300;
   }
   &__section{
      margin-bottom: 15px;
      &.open{
         .filter__list{
            display: block;
         }

      }
      &.dont-toggle{
         margin-top: 45px;
      }
   }
   &__title{
      margin-bottom: 23px;
   }
   &__head{
      display: flex;
      align-items: center;
      .icon{
         margin-right: auto;
         color: $gray;
         &.open{
            transform: rotate(270deg);
            color: $black;
         }
      }
      .check__box-style{
         transform: translate( 0 , -50%);
      }
   }
   &__head-title{
      cursor: pointer;
      &.h3{
         margin-bottom: 18px;
      }
   }
   &__list{
      &.toggle-body{
         display: none;
      }
      margin-top: 10px;
   }
   &__item{
      margin-bottom: 5px;
   }
   .check__box{
      padding-right: 45px;
   }
   .check__box-style{
      margin-right: -45px;
   }
   &__slider{
      padding-top: 15px;
   }
   &__slider-title{
      margin-bottom: 25px;
      color: $color4;
   }
   .btn-secondary{
      width: 250px;
      height: 57px;
      margin: 0 auto;
      margin-top: 15px;
   }
   .filter__slider-body{
      direction: ltr;
   }
   .noUi-horizontal{
      height: 1px;
      background: $color4;
      border-radius: 0;
      border: none;
      box-shadow: none;
   }
   .noUi-connect{
      background: unset;
   }
   .noUi-handle-lower{
      right: 10;
   }
   .noUi-handle-upper{
      left: 10px;
   }
   .noUi-handle{
      top: -10px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      box-shadow: none;
      border: 1px solid $color4;
      &::after{
         display: none;
      }
      &::before{
         display: none;
      }
   }
   &__slider-counter{
      display: flex;
      justify-content: center;
      margin-top: 24px;
      color: $gray;
   }
   &__slider-upper,
   &__slider-lower{
      margin-left: 3px;
   }
}