.header{
   background: $color1;
   &__head{
      display: flex;
      justify-content: center;
      background: $white;
      height: 30px;
      font-weight: 300;
      align-items: center;
      font-size: 14px;
      color: $color4;
      line-height: 26px;
   }
   &__body{
      display: flex;
      justify-content: space-between;
      height: 105px;
      align-items: center;
      position: relative;
   }
   &__body::after{
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $white;
   }
   .nav__item{
      .select__header{
         padding-bottom: 5px;
         position: relative;
         transition: 1s;
         &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 0;
            height: 1px;
            background: $color4;
         }
         &:hover{
            &::after{
               width: 100%;
            }
         }
      }
      &-img{
         width: 272px;
         height: 100%;
         img{
            height: 100%;
            width: 100%;
         }
      }
      &-content{
         width: max-content;
         display: flex;
         background: $white;
      }
      &-body{
         // display: flex;
         // flex-direction: column;
         // flex-wrap: wrap;
         // max-height: 250px;
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-column-gap: 34px;
         grid-row-gap: 10px;
         margin: 40px 40px 40px 47px;
      }
      .select__item{
         display: flex;
         align-items: center;
         // margin-left: 40px;
         // margin-bottom: 18px;
         width: 142px;
         .icon{
            font-size: 12px;
            margin-left: 12px;
            color: $color4;
         }
      }
      &:nth-child(1n + 7){
         .select__body{
            left: 0;
            right: unset;
         }
      }
   }
   .icon-burger{
      display: none;
   }
   .cart {
      &__popup {
         position: absolute;
         padding-top: 30px;
         display: none;
         z-index: 99;
         right: -20px;
         transition: 0.3;
         font-family: 'Heebo';
         .blog__more-btn {
            font-size: 14px;
            line-height: 21px;
            color: $color4;
            padding: 13.5px 48px;
            margin: unset;
            &:hover {
               color: $white;
            }
         }
         .favorites__description {
            margin-left: 0px;
         }
         .favorites__counter {
            margin-left: 11px;
            font-size: 14px;
            font-weight: 300;
            line-height: 18px;
         }
         .favorites__list {
            margin-bottom: 30px;
         }
      }
      &__body {
         background: $white;
         padding: 38px 45px 39px 45px;
         width: max-content;
         height: max-content;
         box-shadow: 0px 4px 45px 0px #00000014;
         &::after {
            content: '';
            position: absolute;
            border: 20px solid transparent; 
            border-bottom: 20px solid $white; 
            top: 0;
            right: 10px;
         }
      }
      &__header {
         display: flex;
         justify-content: space-between;
         padding-bottom: 34px;
      }
      &__header-title {
         display: flex;
      }
      &__header-subtitle {
         text-decoration: underline;
         font-weight: 300;
         font-size: 14px;
         line-height: 18px;
         color: $color4;
      }
      &__price {
         display: flex;
         justify-content: space-between;
         margin-bottom: 25px;
         margin-top: 30px;
         font-size: 16px;
         line-height: 23px;
         color: $color4;
         align-items: center;
      }
      &__price-description {
         font-weight: 300;
         line-height: 30px;
         color: $color4;
      }
      &__btn {
         display: flex;
         justify-content: space-between;
      }
   }


   .icon-cart{
      position: relative;
      margin-right: 15px;
      cursor: pointer;
      &:hover {
         .cart__popup {
            display: block;
         }
      }
      .counter{
         bottom: 100%;
         left: 50%;
         font-weight: 500;
      }
   }
   .icon{
      font-size: 22px;
   }
   .select__header{
		.icon{
			font-size: 12px;
         margin-left: 6px;
		}
   }
   &__logo {
      margin: 0 auto;
   }
   .icon-user {
      margin-left: 27px;
      margin-right: 37px;
   }
   &__phone-num {
      font-weight: 300;
      color: $color4;
      &:not(:first-child) {
         margin-right: 14px;
      }
   }
   &__phone-num__number {
      font-weight: 400;
   }
   &__link {
      margin-right: 24px;
      font-size: 14px;
      transition: 0.3s;
      color: $color4;
      &:hover {
         color: $textColor2;
      }
   }
   .icon-heart {
      margin-right: 29px;
      margin-left: 79px;
      cursor: pointer;
   }
   .icon-search{
      cursor: pointer;
   }
}
.nav{
   display: flex;
   justify-content: space-between;
   &__icon-close{
      display: none;
   }
   &__burger-link{
      display: none;
   }
   .header__phone{
      display: none;
   }
   &__item.select{
      padding: 20px 0;
      &.open{
         .select__header::after{
            width: 100%;
         }
      }
   }
   &__burger-bg{
      display: none;
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      background: rgba( $black , .2);
   }
}

.banner {
   background: url('../images/banner_background.png') no-repeat;
   // display: flex;
   // justify-content: space-around;
   position: relative;
   height: 607px;
   background-size: 100%;
   .container {
      height: 100%;
   }
   &__link {
      background: $white;
      width: 65px;
      height: 65px;
      border-radius: 90px;
      box-shadow: 0px 4px 12px 0px #00000014;
      display: flex;
      justify-content: center;
      align-items:center;
      transition: 0.3s;
      &:not(:last-child) {
         margin-bottom: 16px;
      }
      &:hover {
         background: $color2;
         .icon {
            color: $white;
         }
      }
   }
   .icon-facebook,
   .icon-instagram {
      color: $color2;
      font-size: 14px;
   }
   &__content{
      text-align: center;
      margin-left: auto;
      margin-right: 132px;
      float: right;
   }
   &__img {
      position: absolute;
      // left: 200px;
      left: calc((200 + 180) * ((100vw - 991px) / (1920 - 991)) - 180px );
      top: 0;
      z-index: 1;
      height: 100%;
      img {
         height: 100%;
      }
   }
   &__social{
      position: fixed;
      left: 66px;
      top: 540px;
      z-index: 2;
   }
   &__title{
      margin-top: 95px;
      // font-size: 52px;
      font-size: calc(18px + (52 - 18) * ((100vw - 320px) / (1920 - 320)));
      // line-height: 70px;
      line-height: calc(25px + (70 - 25) * ((100vw - 320px) / (1920 - 320)));
      font-weight: 300;
      text-align: center;
   }
   &__sale{
      // font-size: 87px;
      font-size: calc(31px + (87 - 31) * ((100vw - 320px) / (1920 - 320)));
      // line-height: 128px;
      line-height: calc(46px + (128 - 46) * ((100vw - 320px) / (1920 - 320)));
      color: $textColor2;
      font-weight: 300;
      text-align: center;
   }
   &__price{
      // font-size: 24px;
      font-size: calc(10px + (24 - 10) * ((100vw - 320px) / (1920 - 320)));
      // line-height: 35px;
      line-height: calc(15px + (35 - 15) * ((100vw - 320px) / (1920 - 320)));
      font-weight: 300;
      text-align: center;
      margin-bottom: 33px;
   }
   &__price-delet{
      // font-size: 40px;
      font-size: calc(17px + (40 - 17) * ((100vw - 320px) / (1920 - 320)));
      // line-height: 59px;
      line-height: calc(25px + (59 - 25) * ((100vw - 320px) / (1920 - 320)));
      margin-left: 18px;
   }
   &__price-sale {
      text-decoration-line: line-through;
   }
   .btn-primary{
      width: 269px;
      height: 69px;
      margin: 0 auto;
      background: transparent;
      font-size: 20px;
      transition: 0.3s;
      &:hover {
         color: $white;
         background: $color4;
      }
   }
}

.section-title {
   text-align: center;
   font-weight: 300;
   color: $color4;
   margin-bottom: 44px;
}

.offers {
   position: relative;
   padding: 77px 0px 70px;
   .section-title {
      margin-bottom: 20px;
   }
   &__mobile-bg {
      top: 0;
      left: 0;
   }
   &__content {
      display: flex;
      justify-content: space-between;
   }
   &__column {
      width: calc(100%/2 - 10px);
   }
   &__big,
   &__little {
      background: $color3;
      margin: 20px 0px;
      // padding: 40px;
      // padding: calc(15px + (40 - 15) * ((100vw - 320px) / (1920 - 320))) calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      overflow: hidden;
   }
   &__big {
      // width: 706px;
      // width: calc(140px + (706 - 140) * ((100vw - 320px) / (1920 - 320)));
      height: 455px;
      // height: calc(197px + (455 - 197) * ((100vw - 320px) / (1920 - 320)));
   }
   &__little {
      // width: 706px;
      // width: calc(140px + (706 - 140) * ((100vw - 320px) / (1920 - 320)));
      height: 277px;
      // height: calc(156px + (277 - 156) * ((100vw - 320px) / (1920 - 320)));
   }
   &__description {
      margin-bottom: 0px;
      margin-top: auto;
      padding: 0px calc(15px + (40 - 15) * ((100vw - 320px) / (1920 - 320))) calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320))) 0px;
   }
   &__description-title {
      // font-size: 32px;
      font-size: calc(16px + (32 - 16) * ((100vw - 320px) / (1920 - 320)));
      font-weight: 300;
      color: $color4;
   }
   &___description-description {
      color: $color4;
   }
   &__four {
      .offers__img {
      }
   }
   &__third {
      .offers__img {
      }
   }
   &__first {
      .offers__img {
      }
   }
   &__second {
      .offers__img {
      }
   }
}

.swiper__pagination {
   display: none;
}
.swiper-pagination-bullet {
   width: 3px;
   height: 3px;
   border-radius: 50%;
   background: $pagination;
   // display: block;
   &:not(:first-child) {
      margin-right: 5px;
   }
}
.swiper-pagination-bullet-active {
   background: $color2;
}
.advice {
   position: relative;
   padding-bottom: 90px;
   .swiper-container {
      display: flex;
      align-items:center;
      width: 1071px;
      margin-right: 0;
      margin-left: auto;
   }
   .swiper-wrapper {
      display: flex;
   }
   .swiper-slide {
      width: 344px;
      &:not(:last-child) {
         margin-left: 19px;
      }
   }
   .swiper-pagination-bullet {

   }
   .swiper-pagination {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 29px;
      width: max-content;
      margin: 0 auto;
   }
   &__card {
      // width: 344px;
      text-align: center;
      cursor: pointer;
      transition: 0.3s;
      &:hover{
         .advice__nav{
            display: block;
         }
      }
   }
   &__item {
      border: 1px solid $border2;
      // padding: 22px 40px 90px 17px;
      display: grid;
      position: relative;
      margin-bottom: 20px;
      // height: calc(266px + (400 - 266) * ((100vw - 991px) / (1920 - 991)));
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      // padding: 100px 72px;
      padding: calc(50px + (100 - 50) * ((100vw - 992px) / (1920 - 992))) calc(24px + (72 - 24) * ((100vw - 992px) / (1920 - 992)));
   }
   &__prev {
      text-transform: uppercase;
      background: $black2;
      padding: 2px 9px;
      color: $white;
      font-weight: 500;
      // margin-left: 0px;
      // margin-right: auto;
      // margin-bottom: 40px;
      position: absolute;
      top: 22px;
      left: 17px;
      z-index: 1;
      font-size: 10px;
      line-height: 14px;
   }
   &__nav{ 
      display: none;
      position: absolute;
      bottom: 31px;
      left: 20px;
   }
   &__nav-slider{
      padding: 49px 60px 47px 0;
      position: relative;
   }
   &__nav-bg{
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      height: 100%;
      width: max-content;
      img{
         height: 100%;
      }
   }
   &__img{
      // height: calc(266px + (400 - 266) * ((100vw - 991px) / (1920 - 991)));
      // width: calc(100% - calc(70px + (140 - 70) * ((100vw - 991px) / (1920 - 991))));
      // height: calc(100% - calc(100px + (200 - 100) * ((100vw - 991px) / (1920 - 991))));
      width: 200px;
      height: 200px;
      img{
         margin: 0 auto;
         height: 100%;
         object-fit: cover;
         width: 100%;
      }
   }
   &__press {
      width: 62px;
      height: 62px;
      background: $white;
      box-shadow: 0px 4px 23px 0px #0000000F;
      border-radius: 90px;
      display: flex;
      align-items:center;
      justify-content: center;
      transition: 0.3s;
      &:not(:last-child) {
         margin-bottom: 12px;
      }
      &:hover {
         background: $background;
      }
      .icon {
         font-size: 17px;
      }
   }
   &__title {
      margin-bottom: 9px;
      text-align: center;
   }
   &__nav-title {
      max-width: 263px;
      text-align: center;
      line-height: 53px;
      margin-bottom: 34px;
      font-weight: 300;
   }
   &__button {
      display: flex;
      justify-content: center;
   }
   .swiper-button-next,
   .swiper-button-prev {
      cursor: pointer;
      background: transparent;
      width: 62px;
      height: 62px;
      border-radius: 90px;
      border: 1px solid $border;
      display: flex;
      justify-content: center;
      align-items:center;
      transition: 0.3s;
      &:not(:last-child) {
         margin-right: 13px;
      }
      &:hover {
         border: 1px solid $color4;
      }
   }
   &__bdo {
      display: flex;
   }
   &__content{
      display: flex;
   }
   &__price{
      text-align: center;
   }
   &__price-sale {
      font-weight: 300;
      color: $gray;
      text-decoration-line: line-through;
   }
   &__mobile-bg {
      top: -75px;
      left: 0;
   }
}

.recommendation-bg,
.recommendation-bg-second,
.discount__banner-bg,
.articles-bg-right,
.photogallery-bg-right,
.photogallery-bg-center,
.photogallery-bg-left {
   z-index: -1;
}
.offers__mobile-bg,
.advice__mobile-bg,
.discount__mobile-bg-left,
.discount__mobile-bg-right,
.recommendation__mobile-bg-top,
.recommendation__mobile-bg-bottom,
.blog__mobile-bg-top,
.blog__mobile-bg-bottom,
.photogallery__mobile-bg {
   display: none;
   z-index: -1;
   position: absolute;
}

.recommendation {
   padding-bottom: 74px;
   position: relative;
   &__gods {
      display: flex;
      justify-content: center;
      margin-bottom: -20px;
      .advice__card {
         &:not(:last-child) {
            margin-left: 20px;
         }
      }
   }
   .advice__card {
      margin-bottom: 20px;
   }
   .swiper-container {
      width: 1068px;
   }
   &-bg {
      position: absolute;
      top: -240px;
   }
   &-bg-second {
      position: absolute;
      left: 0;
      top: -420px;
   }
   &__mobile-bg-top {
      top: -35px;
      right: 0;
   }
   &__mobile-bg-bottom {
      bottom: 0;
      left: 0;
   }
}
.discount{
   padding-bottom: 90px;
   position: relative;
   &__inside{
      display: flex;
   }
   &__banner{
      background-image: url('../images/discount-banner.png');
      background-repeat: no-repeat;
      width: 704px;
      height: 733px;
      padding: 82px 68px 0 0 ;
   }
   &__banner-sale{
      font-size: 95px;
      line-height: 139px;
      color: $textColor2;
      font-weight: 100;
   }
   &__banner-title{
      font-size: 48px;
      line-height: 65px;
      font-weight: 300;
   }
   &__banner-subtitle{
      font-size: 18px;
      line-height: 26px;
      font-weight: 300;
   }
   &__content{
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: max-content;
      margin-left: 0;
      margin-right: 20px;
      grid-row-gap: 20px;
      grid-column-gap: 20px;
      .advice__item{
         padding: 0;
         display: flex;
         align-items: center;
         justify-content: center;
         // width: 343px;
         // height: calc(228px + (297 - 228) * ((100vw - 991px) / (1920 - 991)));
         padding: 50px 72px;
         padding: calc(10px + (50 - 10) * ((100vw - 992px) / (1920 - 992))) calc(10px + (72 - 10) * ((100vw - 992px) / (1920 - 992)));
         margin-bottom: 12px;
      }
   }
   &__banner-bg {
      position: absolute;
      top: 0;
   }
   .advice__img{
      // height: calc(100% - calc(48px + (97 - 48) * ((100vw - 991px) / (1920 - 991))));
      // height: calc(100% - 97px);

   }
   &__mobile-bg-left {
      top: -85px;
      left: 0;
   }
   &__mobile-bg-right {
      top: -85px;
      right: 0;
   }
}

.blog{
   background-image: url('../images/blog-bg.png');
   background-repeat: no-repeat;
   padding: 97px 0 ;
   position: relative;
   background-size: 100%;
   .h2{
      text-align: center;
      margin-bottom: 41px;
   }
   &__body{
      display: flex;
      justify-content: space-between;
      margin-bottom: 49px;
   }
   &__cart{
      background: $white;
      width: calc(100% / 3 - 40px / 3);
   }
   &__cart-img{
      width: 100%;
      img{
         width: 100%;
      }
   }
   &__cart-footer{
      display: flex;
      width: 100%;
      height: 93px;
      align-items: center;
      padding-right: 35px;
   }
   &__cart-discr{
      flex: 1 0 auto;
   }
   &__cart-title{
      font-weight: 300;
      color: #15161a;
      margin-bottom: 5px;
      font-size: 18px;
   }
   &__cart-subtitle{
      font-weight: 300;
      color: $gray;
      font-size: 12px;
   }
   &__cart-btn{
      width: 96px;
      border-right: 1px solid #E5E5E5;
      height: 100%;
      .icon {
         font-size: 12px;
      }
   }
   &__more-btn{
      margin: 0 auto;
      padding: 13px 35px 14px;
      background: transparent;
      transition: 0.3s;
      &:hover {
         color: $white;
         background: $color4;
      }
   }
   &__mobile-bg-top {
      top: 0;
   }
   &__mobile-bg-bottom {
      bottom: 0;
   }
}

.articles{
   position: relative;
   padding: 90px 0;
   .advice__nav-title {
      max-width: 341px;
   }
   .blog__cart{
      width: 100%;
   }
   .blog__cart-footer{
      border: 1px solid #ececec;
      border-top: 0;
      width: unset;
      padding-right: 29px;
   }
   .swiper-container--second{
      width: 1071px;
      overflow: hidden;
   }
   .icon{
      margin-left: 4px;
   }
   .swiper-button-next--second,
   .swiper-button-prev--second {
      cursor: pointer;
      background: transparent;
      width: 62px;
      height: 62px;
      border-radius: 90px;
      border: 1px solid $border;
      display: flex;
      justify-content: center;
      align-items:center;
      transition: 0.3s;
      &:not(:last-child) {
         margin-right: 13px;
      }
      &:hover {
         border: 1px solid $color4;
      }
   }
   .swiper-pagination {
      display: none;
   }
   &-bg-right {
      position: absolute;
      right: 0;
      top: 120px;
   }
   .advice__nav-bg {
      left: 0;
      right: unset;
   }
}


.photogallery{
   position: relative;
   padding-bottom: 86px;
   // &__content {
   //    width: 100%;
      
   // }
   // &__swiper-container {
   //    width: 100%;
   // }
   .swiper-slide {
      width: 222px;
   }
   .h2{
       margin-bottom: 40px;
       font-weight: 300;
       text-align: center;
   }
   &__list{
       display: flex;
       justify-content: space-between;
       width: 100%;
   }
   &__img{
       width: 222px;
       height: 187px;
       img{
           width: 100%;
           height: 100%;
       }
   }
   &-bg-right,
   &-bg-center,
   &-bg-left {
      position: absolute;
   }
   &-bg-right {
      right: 0;
      top: -90px;
   }
   &-bg-center {
      right: 0;
      left: 0;
      top: -90px;
      img {
         margin: 0 auto;
      }
   }
   &-bg-left {
      left: 0;
      top: -90px;
   }
   &__mobile-bg {
      top: 0;
   }
}

.footer {
   background: $background;
   padding: 69px 0px 44px;
   &__hr {
      display: none;
      width: 200%;
      margin: 0px -15px;
      height: 0px;
      border-bottom: unset;
      border-top: 1px solid $color4;
      opacity: 0.1;
   }
   &__content {
      display: flex;
      padding-bottom: 67px;
   }
   &__down {
      padding-top: 47px;
      border-top: 1px solid rgba($color4, 0.1);
      text-align: center;
      color: rgba($color4, 0.3)
   }
   &__social {
      display: flex;
   }
   &__social-link {
      width: 48.5px;
      height: 48.5px;
      display: flex;
      justify-content: center;
      align-items:center;
      background: $white;
      border-radius: 90px;
      transition: 0.3s;
      &:not(:first-child) {
         margin-right: 9.5px;
      }
      &:hover {
         background: $color2;
         .icon {
            color: $white;
         }
      }
      .icon {
         color: $color2;
         font-size: 13px;
      }
   }
   &__column-first {
      display: flex;
      flex-direction: column;
      width: 290px;
      .footer__social {
         flex: 0 0 auto;
         margin-bottom: 20px;
      }
      .logo {
         flex: 1 0 auto;
      }
   }
   &__column-second {
      width: 198px;
   }
   &__column-third {
      width: 219px;
      .footer__link {
         &:last-child {
            margin-bottom: 34px;
         }
      }
   }
   &__column-four {
      width: 373px;
      .footer__link {
         &:last-child {
            margin-bottom: 41px;
         }
      }
   }
   &__column-fifth {
      width: 343px;
   }
   &__time {
      margin-bottom: 4px;
      color: $color4;
   }
   &__phone {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 4px;
      color: $color4;
   }
   &__discr {
      color: $gray;
      margin-bottom: 9px;
      font-weight: 300; 
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 235px;
   }
   &__mail {
      color: $color2;
   }
   &__link {
      color: $color4;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 190px;
      transition: 0.3s;
      &:not(:last-child) {
         margin-bottom: 13px;
      }
      &:hover {
         color: $color2;
      }
   }
   &__form-title {
      font-size: 20px;
      color: $color4;
      margin-bottom: 9px;
      font-weight: 300;
   }
   &__form-description {
      color: $gray;
      margin-bottom: 27px;
   }
   &__forms {
      display: flex;
      margin-bottom: 41px;
   }
   &__input {
      border: none;
      padding-right: 23px;
      width: 231px;
   }
   &__more {
      color: $color4;
   }
   &__more-item {
      display: inline-block;
      color: $color4;
      &:not(:first-child) {
         margin-right: 39px;
      }
      span {
         margin-left: 11px;
         font-size: 18px;
      }
   }
}

.catalog{
   &__header{
      margin-bottom: 27px;
      display: flex;
      justify-content: space-between;
   }
   &__conclusion-text{
      color: $gray;
   }
   &__header-select{
      display: flex;
      align-items: center;
   }
   &__header-select-discr{
      color: $gray;
      margin-left: 11px;
   }
   &__header-select__text{
      margin-left: 8px;
   }
   .title{
      line-height: 49px;
      text-align: center;
      font-weight: 300;
      color: $color4;
      margin: 15px 0 65px;
   }
   &__list{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap:60px 20px;
      margin-bottom: 125px;
   }
   &__item{
      &.catalog__item--video{
         grid-area: 3 / 3 / 3 / 5;
         height: 100%;
      }
      &.catalog__item--img{
         grid-area: 5 / 1 / 5 / 3;
      }
   }
   .content__block{
      width: 1072px;
   }
   .advice__card{
      // width: 100%;
   }
   .advice__item{
      // height: 293px;
      padding: 63px 41px;
   }
   .advice__img {
      width: 169px;
      height: 167px;
      img {
         object-fit: unset;
      }
   }

   &__pagination{
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-bottom: 125px;
      direction: ltr;
   }
   &__pagination-slider{
      width: 220px;
      overflow: hidden;
   }
   &__swiper-button-next,
   &__swiper-button-prev{
      position: absolute;
      top: calc(50% - 10px);
      z-index: 1;
      cursor: pointer;
      .icon{
         color: $gray;
      }
      border: none;
      &:focus{
         outline: unset;
      }
   }
   &__swiper-button-next{
      right: 331px;
   }
   &__swiper-button-prev{
      left: 331px;
   }
}
.filter{
   font-weight: 300;
   width: 250px;
   h3{
      font-weight: 300;
   }
   &__section{
      margin-bottom: 15px;
      &.open{
         .filter__list{
            display: block;
         }

      }
      &.dont-toggle{
         margin-top: 45px;
      }
   }
   &__title{
      margin-bottom: 23px;
   }
   &__head{
      display: flex;
      align-items: center;
      .icon{
         margin-right: auto;
         color: $gray;
         &.open{
            transform: rotate(270deg);
            color: $black;
         }
      }
      .check__box-style{
         transform: translate( 0 , -50%);
      }
   }
   &__head-title{
      cursor: pointer;
      &.h3{
         margin-bottom: 18px;
      }
   }
   &__list{
      &.toggle-body{
         display: none;
      }
      margin-top: 10px;
   }
   &__item{
      margin-bottom: 5px;
   }
   .check__box{
      padding-right: 45px;
   }
   .check__box-style{
      margin-right: -45px;
   }
   &__slider{
      padding-top: 15px;
   }
   &__slider-title{
      margin-bottom: 25px;
      color: $color4;
   }
   .btn-secondary{
      width: 250px;
      height: 57px;
      margin: 0 auto;
      margin-top: 15px;
   }
   .filter__slider-body{
      direction: ltr;
   }
   .noUi-horizontal{
      height: 1px;
      background: $color4;
      border-radius: 0;
      border: none;
      box-shadow: none;
   }
   .noUi-connect{
      background: unset;
   }
   .noUi-handle-lower{
      right: 10;
   }
   .noUi-handle-upper{
      left: 10px;
   }
   .noUi-handle{
      top: -10px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      box-shadow: none;
      border: 1px solid $color4;
      &::after{
         display: none;
      }
      &::before{
         display: none;
      }
   }
   &__slider-counter{
      display: flex;
      justify-content: center;
      margin-top: 24px;
      color: $gray;
   }
   &__slider-upper,
   &__slider-lower{
      margin-left: 3px;
   }
}
.tovar{
   color: $color4;
   padding-top: 45px;
   &__article{
      color: $color4;
      margin-bottom: 12px;
   }
   &__article-title{
      color: $gray;
   }
   &__title{
      max-width: 396px;
   }
   &__subtitle{
      color: $black;
      max-width: 320px;
      margin-bottom: 45px;
   }
}

 .favorites{
   display: none;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 9999;
   width: 100%;
   height: 100vh;
   &.open{
      .favorites__body{
         transition: .7s;
         right: 0;
      }
   }
   &__content{
      position: relative;
      width: 100%;
      height: 100%;
   }
   &__bg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba( $black , .3);
   }
   &__body{
      padding: 26px 31px;
      position: relative;
      z-index: 1;
      right: -500px;
      width: 466px;
      height: 100%;
      background: $white;
   }
   &__close{
      cursor: pointer;
   } 

   &__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 45px;
   }
   &__title {
      display: flex;
   }
   &__description {
      margin-left: 11px;
      font-size: 16px;
      font-weight: 300;
      line-height: 22px;
   }
   &__counter {
      display: flex;
      align-items:center;
      justify-content: center;
      width: 40px;
      height: 21px;
      background: $color1;
      border-radius: 18px;
   }
   &__item {
      display: flex;
      width: 403px;
   }
   &__card {
      margin-left: 32px;
      padding: 10px 10px 11px 11px;
      border: 1px solid $border;
      }
   &__img {
      width: 54px;
      height: 54px;
      img {
         width: 100%;
         height: 100%;
      }
   }
   &__item {
      padding: 14px 0px 15px 0px;
      border-top: 1px solid $border;
      position: relative;
      cursor: pointer;
      .advice__press {
         position: absolute;
         left: 0;
         bottom: 15px;
         width: 50px;
         height: 50px;
         display: none;
         justify-content: center;
         text-align: center;
      }
      .icon-close {
         position: absolute;
         left: 0;
         top: 17px;
         font-size: 8px;
         color: $gray;
         cursor: pointer;
         display: none;
      }
      &:last-child {
         border-bottom: 1px solid $border;
      }
      // &:not(:last-child) {
      //    margin-bottom: 15px;
      // }
      &:hover {
         .icon-close,
         .advice__press {
            display: flex;
         }
      }
   }
   &__info-title {
      max-width: 150px;
      font-weight: 300;
      font-size: 12px;
      line-height: 16px;
      color: $color4;
   }
   &__info-price {
      color: $color4;
      font-size: 16px;
      line-height: 21px;
      font-weight: 300;
      margin-top: 15px;
   }
 }



 .amount {
   display: flex;
   align-items: center;
   height: max-content;
   position: absolute;
   left: 0;
   bottom: 25px;
   &__input {
      border: none;
      text-align: center;
      width: 33px;
      font-size: 14px;
      line-height: 19px;
   }
   &__plus.icon.icon-plus,
   &__minus.icon.icon-minus {
      font-size: 11px;
   }
 }

//  page LOGIN start 

.login {
}
.signup {
   .login-body__title {
      margin-bottom: 29px;
      margin-top: 35px;
   }
   .login-body__content {
      align-items: unset;
   }
   .login-body__signup {
      height: 100%;
   }
}
.signup-law {
   margin: 35px 0px 57px 0px;
   &__paragraph {
      &:not(:last-child) {
         margin-bottom: 18px;
      }
   }
   &__description {
      font-size: 12px;
      line-height: 18px;
      color: $color4;
      margin-right: 18px;
      max-width: 293px;
   }
}

.login-title {
   margin-top: 40px;
   &__content {
      font-weight: 300;
      font-size: 36px;
      line-height: 49px;
      color: $color4;
   }
}

.login-body {
   margin-top: 59px;
   margin-bottom: 134px;
   &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__forms {
      width: 335px;
   }
   &__forms-second {
      margin-top: 96px;
   }
   &__password {
      font-size: 12px;
      line-height: 18px;
      font-weight: 300;
      color: $color4;
      text-decoration: underline;
      margin: 14px 0px 42px 0px;
      margin-right: auto;
      width: max-content;
      cursor: pointer;
   }
   &__title {
      font-weight: 300;
      color: $color4;
      font-size: 24px;
      line-height: 32px;
   }
   .btn-contour {
      width: 100%;
      margin-bottom: 22px;
   }
   &__remember {
      display: flex;
      align-items: center;
      padding-bottom: 40px;
   }
   &__remember-text {
      color: $color4;
      font-size: 14px;
      line-height: 19px;
      font-weight: 300; 
      margin-right: 11px;
   }
   &__frame {
      display: flex;
      .login-body__forms {

         &:not(:first-child) {
            margin-right: 59px;
         }
      }
   }

}

// log-bar 
.log-bar {
   position: relative;
   padding: 41px 0px 16px 0px;
   width: 100%;
   &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background: $black;
      opacity: 0.3;
   }
   &__input {
      border: none;
      &::placeholder {
         color: $color4;
         font-size: 12px;
         line-height: 18px;
      }
   }
   &__body {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .log-bar {
         width: calc(100% / 3 - 20px / 2);
      }
   }
   &__flesh {
      .log-bar {
         padding-top: 31px;
      }
   }
   &__flesh-title {
      font-size: 14px;
      line-height: 21px;
      color:$color4;
      margin-top: 75px;
   }
   &__input {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
   }
   &__input-placeholder {
      font-size: 12px;
      line-height: 18px;
      color: $color4;
   }
   .icon-triangle-down {
      font-size: 12px;
      color: $gray;
      margin-left: 6px;
   }
}

.login-body__signup {
   padding: 35px 37px;
   background: $color3;
   position: relative;
   // width: 502px;
   // height: 432px;
   &-content {
      padding: 95px 105px 38px 97px;
      border: 1px solid rgba(228,129,129, 0.2);
      height: 100%;
      text-align: center;
   }
   &-title {
      text-align: center;
      margin-bottom: 24px;
      font-weight: 300;
      font-size: 24px;
      line-height: 32px;
      color: $color4;
   }
   &-subtitle {
      margin-bottom: 87px;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      color: $color4;
      text-align: center;
   }
   .blog__more-btn {
      position: relative;
      z-index: 2;
      padding: 20px 69.5px;
   }
   &-top,
   &-bottom {
      position: absolute;
   }
   &-top {
      top: 0;
   }
   &-bottom {
      bottom: 0;
      right: 0;
   }
   
}

.login-birthday {
   margin-bottom: 154px;
   &__content {
      display: flex;
      justify-content: center;
   }
   &__link {
      display: block;
      font-size: 14px;
      font-weight: 300;
      line-height: 19px;
      color: $color4;
      text-decoration: underline;
   }
}