.header{
   background: $color1;
   &__head{
      text-align: center;
      background: $white;
   }
   &__body{
      display: flex;
      justify-content: space-between;
      height: 105px;
      align-items: center;
      position: relative;
   }
   &__body::after{
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $white;
   }
   .nav{
      padding: 20px 0 25px;
   }
}
.nav{
   display: flex;
   justify-content: space-between;
}