.header{
   background: $color1;
   &__head{
      text-align: center;
      background: $white;
   }
   &__body{
      display: flex;
      justify-content: space-between;
      height: 105px;
      align-items: center;
      position: relative;
   }
   &__body::after{
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: $white;
   }
   .nav{
      padding: 20px 0 25px;
   }
   .icon-burger{
      display: none;
   }
   .icon-cart{
      position: relative;
      .counter{
         bottom: 100%;
         left: 50%;
      }
   }
   .icon{
      font-size: 22px;
   }
   .select__header{
		.icon{
			font-size: 12px;
         margin-left: 6px;
		}
   }
}
.nav{
   display: flex;
   justify-content: space-between;
}

.banner {
   background: url('../images/banner_background.png') no-repeat;
   display: flex;
   justify-content: space-around;
   &__link {
      background: $white;
      width: 65px;
      height: 65px;
      border-radius: 90px;
      box-shadow: 0px 4px 12px 0px #00000014;
      display: flex;
      justify-content: center;
      align-items:center;
      &:not(:last-child) {
         margin-bottom: 16px;
      }
   }
   .icon-facebook,
   .icon-instagram {
      color: $color2;
      font-size: 14px;
   }
   &__content{
      text-align: center;
   }
   &__social{
      position: fixed;
      left: 66px;
      top: 540px;
      z-index: 2;
   }
   &__title{
      margin-top: 66px;
      font-size: 52px;
      line-height: 70px;
      font-weight: 300;
      text-align: center;
   }
   &__sale{
      font-size: 87px;
      line-height: 128px;
      color: $textColor2;
      font-weight: 300;
      text-align: center;
   }
   &__price{
      font-size: 24px;
      line-height: 35px;
      font-weight: 300;
      text-align: center;
      margin-bottom: 33px;
   }
   &__price-delet{
      font-size: 40px;
      line-height: 59px;
      margin-left: 18px;
   }
   .btn-primary{
      width: 269px;
      height: 69px;
      margin: 0 auto;
   }
}

.section-title {
   text-align: center;
   font-weight: 300;
   color: $color4;
   margin-bottom: 44px;
}

.offers {
   padding: 77px 0px 90px;
   &__content {
      display: flex;
   }
   &__column {
      &:not(:first-child) {
         margin: 0px 20px;
      }
   }
   &__big,
   &__little {
      background: $color3;
      margin: 20px 0px;
      padding: 40px;
      display: flex;
   }
   &__big {
      width: 706px;
      height: 455px;
   }
   &__little {
      width: 706px;
      height: 277px;
   }
   &__description {
      margin-bottom: 0px;
      margin-top: auto;
   }
   &__description-title {
      font-size: 32px;
      font-weight: 300;
      color: $color4;
   }
   &___description-description {
      color: $color4;
   }
}

.advice {
   padding-bottom: 90px;
   .swiper-container {
      display: flex;
      align-items:center;
      width: 1068px;
      margin-right: 0;
      margin-left: auto;
   }
   .swiper-wrapper {
      display: flex;
   }
   .swiper-slide {
      width: 344px;
      &:not(:last-child) {
         margin-left: 19px;
      }
   }
   &__card {
      width: 344px;
      text-align: center;
      &:hover{
         .advice__nav{
            display: block;
         }
      }
   }
   &__item {
      border: 1px solid $border2;
      padding: 22px 40px 90px 17px;
      display: grid;
      position: relative;
      margin-bottom: 20px;
   }
   &__prev {
      text-transform: uppercase;
      background: $black2;
      padding: 2px 9px;
      color: $white;
      margin-left: 0px;
      margin-right: auto;
      margin-bottom: 40px;
   }
   &__nav{ 
      display: none;
      position: absolute;
      bottom: 31px;
      left: 20px;
   }
   &__nav-slider{
      padding: 49px 60px 47px 0;
      position: relative;
   }
   &__nav-bg{
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      height: 100%;
      width: max-content;
      img{
         height: 100%;
      }
   }
   
   &__press {
      width: 62px;
      height: 62px;
      background: $white;
      box-shadow: 0px 4px 23px 0px #0000000F;
      border-radius: 90px;
      display: flex;
      align-items:center;
      justify-content: center;
      &:not(:last-child) {
         margin-bottom: 12px;
      }
      .icon {
         font-size: 17px;
      }
   }
   &__title {
      margin-bottom: 9px;
      text-align: center;
   }
   &__nav-title {
      max-width: 263px;
      text-align: center;
      line-height: 53px;
      margin-bottom: 34px;
      font-weight: 300;
   }
   &__button {
      display: flex;
      justify-content: center;
   }
   .swiper-button-next,
   .swiper-button-prev {
      cursor: pointer;
      background: transparent;
      width: 62px;
      height: 62px;
      border-radius: 90px;
      border: 1px solid $border;
      display: flex;
      justify-content: center;
      align-items:center;
      &:not(:last-child) {
         margin-right: 13px;
      }
   }
   &__bdo {
      display: flex;
   }
   &__content{
      display: flex;
   }
   &__price{
      text-align: center;
   }
}

.recommendation {
   padding-bottom: 94px;
   &__gods {
      display: flex;
      .advice__card {
         &:not(:last-child) {
            margin-left: 20px;
         }
      }
   }
}
.discount{
   &__inside{
      display: flex;
   }
   &__banner{
      background-image: url('../images/discount-banner.png');
      background-repeat: no-repeat;
      width: 704px;
      height: 733px;
      padding: 82px 68px 0 0 ;
   }
   &__banner-sale{
      font-size: 95px;
      line-height: 139px;
      color: $textColor2;
      font-weight: 300;
   }
   &__banner-title{
      font-size: 48px;
      line-height: 65px;
      font-weight: 300;
   }
   &__banner-subtitle{
      font-size: 18px;
      line-height: 26px;
      font-weight: 300;
   }
   &__content{
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: max-content;
      margin-left: 0;
      margin-right: auto;
      grid-row-gap: 20px;
      grid-column-gap: 20px;
      .advice__item{
         padding: 0;
         display: flex;
         align-items: center;
         justify-content: center;
         width: 343px;
         height: 297px;
         margin-bottom: 12px;
      }
   }
}