$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-triangle-left: "\e900";
$icon-triangle-right: "\e901";
$icon-triangle-down: "\e902";
$icon-arrow-left: "\e903";
$icon-minus: "\e904";
$icon-plus: "\e905";
$icon-close: "\e906";
$icon-search: "\e907";
$icon-cart: "\e908";
$icon-user: "\e909";
$icon-heart: "\e90a";
$icon-time: "\e90b";
$icon-star: "\e90c";
$icon-message: "\e90d";
$icon-wallet: "\e90e";
$icon-bag: "\e90f";
$icon-bottle: "\e910";
$icon-box: "\e911";
$icon-face: "\e912";
$icon-gift: "\e913";
$icon-make-face: "\e914";
$icon-make-face-second: "\e915";
$icon-nice: "\e916";
$icon-twitter: "\e917";
$icon-youtube: "\e918";
$icon-instagram: "\e919";
$icon-facebook: "\e91a";

